<div class="table-container">
    <table>
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>名稱</td>
                <td>類別</td>
                <td>上映日期</td>
                <td>評分</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        {% if current_user.is_authenticated and ( movie in current_user.movies or movie in current_user.watched_movies ) %}
                        <img class="check" src="{{ url_for('static', filename = 'images/movies/check.png') }}">
                        {% endif %}
                    </td>
                    <td>
                        <img src='https://image.tmdb.org/t/p/w92/{{ movie.poster_path }}'>
                    </td>
                    <td class="title">
                        <a href="{{ url_for('main.movie', id = movie.id) }} ">
                            <span>
                            {{ movie.title }}
                            </span>
                            <span class="og-title">
                            ({{ movie.original_title }})  
                            </span>
                                                                  
                        </a>
                    </td>
                    <td>
                        {% for genre in movie.genres.split(',') %}
                            <a href="{{ url_for('main.movie_genre', genre = genre) }}">{{ genre }}</a>
                        {% endfor %}
                    </td>
                    <td>{{ movie.release_date }}</td>
                    <td>
                        
                        <img src="{{ url_for('static', filename = 'images/movies/star.png') }}">
                        {% if movie.rate %}
                            <span>{{ movie.rate }}</span>
                        {% else %}
                            <span></span>
                        {% endif %}
                        
                    </td>
                    <td>
                        <!-- TODO url_for('user.user_add_movie', id = movie.id) -->
                        <a href="#">
                            <img onmouseover="add_over(this)" onmouseout="add_out(this)" src="{{ url_for('static', filename = 'images/movies/add-empty.svg') }}"> 
                        </a>
                    </td>
                </tr> 
            {% endfor %}
                
        </tbody>
    </table>
</div>
