{% extends 'base.html' %} 

{% block title %} Page Not Found {% endblock %} 

{% block head %} 
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/error.css') }}" rel="stylesheet">
{% endblock %}


{% block page %} 
    <div class="page-container">
        <div class="page-header">
            <h2>錯誤!! 查尋的頁面不存在</h2>
        </div>
        <div class="item-container">
            <img src="{{ url_for('static', filename = 'images/errors/error-404.png') }}">
        </div>
    </div>
{% endblock %}