{% extends 'base.html' %} 
{% import 'assist/_macros.html' as macros %} 

{% block title %} iMovies - Movies {% endblock %}

{% block head %} 
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/movies.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Outfit&display=swap" rel="stylesheet">
{% endblock %}

{% block page %}
    <div class="page-container">
        <div class="page-header">
            <h2>發現新電影</h2>
        </div>
        <div class="items-container">
            {{ macros.movies_sort('main.movies')}}
            {% include 'assist/_movies.html' %}
        </div>
    </div>
    {% if pagination %}
        <div class="pagination-content">
            {{ macros.pagination_widget(pagination, 'main.movies', **url_args) }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'assist/_function.html' %} 
{% endblock %}

