{% extends 'movies/movies.html' %} 

{% block title %} iMovies - IMDb Top 250 {% endblock %} 

{% block page %}
    <div class="page-container">
        <div class="page-header">
            <h2>IMDb Top 250 電影</h2>
        </div>
        <div class="items-container">
            {{ macros.movies_sort('main.top250')}}
            {% include 'assist/_movies.html' %}
            
        </div>
    </div>
    {% if pagination %}
        <div class="pagination-content">
            {{ macros.pagination_widget(pagination, 'main.top250', **url_args) }}
        </div>
    {% endif %}
{% endblock %}

