{% extends 'movies/movies.html' %} 

{% block title %} {{ current_user.username }} 的電影清單 {% endblock %} 

{% block page %}
    <div class="page-container">
        <div class="page-header">
            <h2>{{ current_user.username }} 收藏的電影</h2>
            <h4> 你收藏了 {{ movies_count }} 部電影</h4>
        </div>
        <div class="items-container">
            {{ macros.movies_sort('user.user_collect_movies', user_id = url_args['user_id']) }}
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>名稱</td>
                            <td>類別</td>
                            <td>上映日期</td>
                            <td>評分</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movie in movies %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    <img src='https://image.tmdb.org/t/p/w92/{{ movie.poster_path }}'>
                                </td>
                                <td class="title">
                                    <a href="{{ url_for('main.movie', id = movie.id) }}">
                                        <span>
                                        {{ movie.title }}
                                        </span>
                                        <span class="og-title">
                                        ({{ movie.original_title }})  
                                        </span>
                                                                              
                                    </a>
                                </td>
                                <td>
                                    {% for genre in movie.genres.split(',') %}
                                        {% if genre in movie_genres %}
                                            <a href="{{ url_for('main.movie_genre', genre = genre) }}">{{ genre }}</a>
                                        {% else %} 
                                            {{ genre }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ movie.release_date }}</td>
                                <td>
                                    
                                    <img src="{{ url_for('static', filename = 'images/movies/star.png') }}">
                                    {% if movie.rate %}
                                        <span>{{ movie.rate }}</span>
                                    {% else %}
                                        <span></span>
                                    {% endif %}
                                    
                                </td>
                                <td>
                                    <!-- TODO url_for('user.user_add_watched_movie', id = movie.id) -->
                                    <a href="#">
                                        <img onmouseover="add_over(this)" onmouseout="add_out(this)" src="{{ url_for('static', filename = 'images/movies/add-empty.svg') }}"> 
                                    </a>
                                    <!-- TODO  -->
                                    <a href="{{ url_for('user.user_delete_collect_movie', movie_id = movie.id, user_id = current_user.id) }}">
                                        <img onmouseover="delete_over(this)" onmouseout="delete_out(this)" src="{{ url_for('static', filename = 'images/movies/dash-empty.svg') }}"> 
                                    </a>
                                </td>
                            </tr> 
                        {% endfor %}
                            
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    {% if pagination %}
        <div class="pagination-content">
            {{ macros.pagination_widget(pagination, 'user.user_collect_movies', **url_args) }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function delete_over(btn){
        btn.src = '/static/images/movies/dash-full.svg'
        }

        function delete_out(btn) {
            btn.src = '/static/images/movies/dash-empty.svg'
        }
    </script>
{% endblock %}