{% extends 'base.html' %} 

{% block title %} Edit Profile {% endblock %} 

{% block page %}
    <div class="page-container">
        <div class="page-header">
            <h2>
                編輯個人檔案
            </h2>
        </div>
        <div class="items-container">
            <div class="form-container">
                <form class="row g-3" action="{{ url_for('user.user_profile_edit', id = current_user.id) }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="mb-3">
                        <label for="username" class="form-label">真實名稱</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ name }}">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">居住地</label>
                        <input type="text" class="form-control" id="location" name="location" value="{{ location }}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">關於我</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name = 'about_me'>{{ about_me }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">感興趣的電影類別</label>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    電影類別
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {% for ch, en in genres_dict.items() %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="{{ ch }}" id="check{{ loop.index }}" name="{{ en }}" {% if ch in user_genres %} checked {% endif %}>
                                        <label class="form-check-label" for="check{{ loop.index }}">
                                          {{ ch }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary" type="submit">送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}