.page-container{
    width: 100%;
}

.page-header{
    border-bottom: 2px solid gray;
    padding-bottom: 2px;
}


.items-container{
    width: 100%;
}

.movie-container{
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;

}

.movie-image{
    width: 350px;
}

.movie-items{
    margin-left: 20px;
    width: 100%;
}


.movie-items h4{
    display: inline-block;
}

.movie-items .title span{
    position: relative;
    right: 5px;
}

.movie-items ul li {
    margin-bottom: 20px;
}

.movie-items ul{
    list-style-type: none;
}

.btns-container{
    width: 100%;
    text-align: right;
    font-family: 'Anton', sans-serif;
}

.similar-movies{
    border-top: 2px solid gray;
    width: 100%;
    height: 500px;
}

.similar-movies-title{
    margin-top: 10px;
}

.similar-movies-items{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.comments-container {
    margin-top: 10px;
    width: 100%;
    border-top: 2px solid gray;
}

.comments-container .comments-header{
    margin: 20px 0;
    
}

.comment-items{
    margin-top: 50px;
}

.comment-ul {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
.comment-li{
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

.comment-li:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}

.comment-li:hover{
    background-color: #f0f0f0;
}

div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}

.comment-content {
    margin-bottom: 10px;
}


